/* D'aligner le texte*/
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/*ajout d'un fond gris*/
nav::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Hauteur du fond gris */
    background-color: #dadada; /* Couleur grise */ 
}
/* Mis en horizontale*/
.nav-links{
    flex: 1;
    text-align: right;
    z-index: 1; /*c'est pour dire que l'icone est surposé sur le gris*/
}
/* Espacement icones*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 25px; 
    position: relative;
}
/* couleur des icones*/
.nav-links ul li a{ 
    color:black;
}

/* l'image est au centre et change aléatoirement*/
img{
    display:block;
    width: 800px;
    margin: 0 auto;
    transition: 2s;
}