/*texte*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

/*logo et icones*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    transition: opacity 0.25s ease;
}

header .logo img     {
    height: auto;
    display: block; 
    margin-top: 20px; 
}


.navbar-icon i {
    font-size: 30px;
    color: #f3f3f3;
    margin-right: 14px;
    transition: all .42s;
    margin-top: 50px;
}

.navbar-icon i:hover {
    color: rgb(61, 61, 61);
}

/*Position et taille du texte*/
.home {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}


.text h4 {
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.text h1 {
    font-size: 55px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 70px;
}

.text p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: capitalize;
    max-width: 420px;
    line-height: 25px;
    margin: 10px 0 20px 0;
}

.button {
    display: inline-block;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: black;
    padding: 12px 40px;
    transition: all .42s;
    margin-top: 10px;
}
.button:hover {
    background-color: rgb(61, 61, 61);
}

/*Concerne les images de fonds*/
.slider-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100vh; 
    align-items: center; /
}

.slider img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    user-select: none;
}
/* Produits */
.products-section {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;
}

.product-link {
    color: inherit; /*garde la couleur car sinon c'est bleu*/
}

.product {
    flex: 0 0 auto;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #ddd; /*Ajout de la bordure*/
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*pour avoir un effet de survol*/
}

.product:hover {
    transform: scale(1.02); /*Agrandit légèrement le produit au survol*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /*Augmente l'ombre au survol*/
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: black;
}


.menu-icon {
    display: none;
}

/*Media query pour les écrans de moins de 1050px*/
@media screen and (max-width: 1050px) {
    .home {
        left: 50%; 
        transform: translate(-50%, -50%);
        text-align: center; 
    }
/* Concerne les icones*/
    header {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }
    .navbar-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        gap: 1px;
    }

    .navbar-icon a:not(.menu-icon) {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .logo {
        position: static; 
        transform: none; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        height: 100px; 
    }
}


/*page d'enregistrement*/
.enregistrement-container {
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
    position: relative;
    flex-direction: column;
}

.enregistrement {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
    width: 500px;
}

.enregistrement h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.enregistrement input {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border: none;
}

.enregistrement-container .enregistrement-btn {
    background: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.enregistrement p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.enregistrement-container .error-msg {
    margin:10px 0;
    display: block;
    background: crimson;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

@media (max-width: 550px) {
    .enregistrement {
        width: 90%; 
        padding: 10px; 
    }
}

/*Concerne la fenêtre pour se connecter et déconnecter*/

.user-menu-container {
    position: relative;
    display: inline-block;
}

.user-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 40px;

    border: 2px solid white;
    padding: 5px;
    z-index: 1;
    width: 300px;
}

.user-menu a {
    font-size : 20px;
    display: block;
    padding: 30px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.user-menu a:hover {
    background-color: #b8b7b771;
}

.user-menu i.bx {
    color: white;
}

/* Afficher le menu utilisateur lors du survol de l'icône utilisateur */
.user-menu-container:hover .user-menu {
    display: block;
}
